<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }

</style>
</head>


<body>
    <h1> 
        Covid Stats
    </h1>
    <form method="POST"> 
        <label>Enter a Country Name</label>
        <br><br>
        <input placeholder="Enter Country Name" name="text">
        <input type="submit">

    </form>
    <iframe src="{{image}}" frameborder="0"></iframe>
    <p>You have {{count}} visitors</p>
</body>
</html>
